*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    .navbar_navber{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 50px;
        .navbar__img{
            img{
                width: 60px;
                height: 60px;
                background-color: black;
            }
        }
        .navbar__ul{
            display: flex;
            margin-left: -380px;
            li{
                font-size: 14px;
                margin: 0px 12px;
                list-style:  none;
                a{
                    color: #000000;
                    text-decoration: none;
                }
            }
            .one{
                a{
                    color: #909090;
                }
            }
        }
        .navbar__icons{
            display: flex;
            select{
                margin: 0px 20px;
                border: none;
            }
            button{
                
                background-color: #FF6060;
                width: 180px;
                display: flex;
                color: #fff;
                border: none;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                padding: 5px;
                p,i{
                    font-size: 10px;
                    margin-left: 7px;

                }
                
                
            }
            .two{
                font-size: 18px;
                margin: 0px 10px;
                margin-right: 0px;
            }
        }
    }
}