* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: black;
}

header {
  padding: 30px 0px;
}

.container {
  width: 90%;
  margin: auto;
}
.container .container__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .container__navbar .header__container-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
}
.container .container__navbar .header__container-logo i {
  color: #326CF9;
  font-size: 30px;
}
.container .container__navbar .header__container-logo h1 {
  margin-left: 10px;
  font-family: Poppins;
  font-size: 37px;
  color: #fff;
}
.container .container__navbar .header__container-ul {
  display: flex;
  font-size: 15x;
}
.container .container__navbar .header__container-ul .srie a {
  color: #3C82F4;
}
.container .container__navbar .header__container-ul li {
  margin: 0px 15px;
  overflow: auto;
}
.container .container__navbar .header__container-ul li a {
  text-decoration: none;
  color: #707070;
}
.container .container__navbar .header__container-ul li .navbar {
  border: none;
  color: #707070;
  font-size: 16px;
  background-color: black;
}
.container .container__navbar .header__container-btn button {
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  width: 100px;
}
.container .container__navbar .header__container-btn .one {
  color: #707070;
  background-color: black;
  border: 1.5px solid #707070;
}
.container .container__navbar .header__container-btn .two {
  background-color: #306EF7;
  color: #fff;
}
.container .container__main .main__text {
  display: flex;
  justify-content: center;
  margin: 0px 0px;
}
.container .container__main .main__text h1 {
  font-size: 80px;
  font-weight: 700;
}
.container .container__main .text1 {
  margin-top: 100px;
}
.container .container__main .text1 h1 {
  color: #fff;
}
.container .container__main .text2 h1 {
  background: -webkit-linear-gradient(#FE6783, #FFBF84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .container__main .text3 {
  margin-top: 80px;
  text-align: center;
}
.container .container__main .text3 p {
  font-size: 32px;
  color: #fff;
}
.container .container__main .main_btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.container .container__main .main_btn button {
  width: 230px;
  margin: 0px 10px;
  padding: 20px 0px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}
.container .container__main .main_btn .one {
  background-color: #306EF7;
  color: #fff;
}
.container .container__main .main_btn .two {
  color: #707070;
  background-color: black;
  border: 1.5px solid #707070;
}
.container .container__main .container__below-text {
  margin-top: 20px;
  font-size: 20px;
}
.container .container__main .container__below-text .bi-1-circle-fill {
  color: green;
  background-color: green;
  border-radius: 50%;
}
.container .container__main .container__below-text span {
  color: #fff;
}
.container .container__main .container__below-text .text {
  margin: 0px 5px;
}
.container .container__main .container__below-text p {
  color: #707070;
}
.container #container__about {
  margin: 50px 0px;
}
.container #container__about .title {
  margin-top: 100px;
  text-align: center;
}
.container #container__about .title h1 {
  font-size: 50px;
  color: #fff;
}
.container #container__about .about__box {
  margin: 50px 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.container #container__about .about__box .box {
  width: 33%;
  text-align: center;
}
.container #container__about .about__box .box .title {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 800;
}
.container #container__about .about__box .box .title p {
  margin-left: 10px;
  color: #fff;
}
.container #container__about .about__box .box .title i {
  color: rgb(212, 255, 0);
}
.container #container__about .about__box .box .next_p {
  margin-top: 10px;
  color: #707070;
}
.container .pricing .container__pricing {
  text-align: center;
}
.container .pricing .container__pricing .title-one {
  margin-top: 120px;
  color: #3D82F2;
}
.container .pricing .container__pricing .pricing__text .pricing__title h1 {
  margin-top: 10px;
  font-size: 52px;
  color: #fff;
}
.container .pricing .container__pricing .pricing__text .text p {
  font-size: 22px;
  color: #707070;
  font-weight: 300;
}
.container .pricing .container__pricing .pricing__text .pricing__btn {
  margin-top: 20px;
}
.container .pricing .container__pricing .pricing__text .pricing__btn button {
  border: 1px solid #707070;
  color: #707070;
  padding: 18px 38px;
  font-weight: 650;
  border-radius: 8px;
}
.container .stepOne__footer {
  margin-bottom: 50px;
}
.container .stepOne__footer .footer__stepOne {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  margin-left: 60px;
}
.container .stepOne__footer .footer__stepOne .box img {
  position: absolute;
  right: 0;
  width: 550px;
  height: 380px;
  z-index: 1;
}
.container .stepOne__footer .footer__stepOne .box1 {
  color: #fff;
}
.container .stepOne__footer .footer__stepOne .box1 h1 {
  font-weight: 400;
  font-size: 20px;
}
.container .stepOne__footer .footer__stepOne .box1 .center__content-box {
  margin-top: 50px;
}
.container .stepOne__footer .footer__stepOne .box1 .center__content-box h1 {
  margin-top: 20px;
  font-size: 52px;
  font-weight: 600;
}
.container .stepOne__footer .footer__stepOne .box1 .center__content-box h1 span {
  color: #3C82F4;
}
.container .stepOne__footer .footer__stepOne .box1 .icons__content .box-icon {
  display: flex;
  margin-top: 18px;
}
.container .stepOne__footer .footer__stepOne .box1 .icons__content .box-icon i {
  font-size: 25px;
  background-color: #fff;
  color: #2D2D2D;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .stepOne__footer .footer__stepOne .box1 .icons__content .box-icon p {
  font-weight: 200;
  margin-left: 12px;
}
.container .stepOne__footer .footer__stepOne .box1 .btn__box button {
  margin-top: 50px;
  border: none;
  border-radius: 8px;
  width: 155px;
  height: 45px;
  font-size: 14px;
  margin-right: 10px;
}
.container .stepOne__footer .footer__stepOne .box1 .btn__box .btn__one {
  background-color: #326CF9;
  color: #fff;
}
.container .stepOne__footer .footer__stepOne .box1 .btn__box .btn__two {
  color: #707070;
  border: 1px solid #707070;
  background-color: #0E0E0E;
}
.container .stepOne__footer .footer__stepOne .kunticha {
  width: 200px;
  height: 200px;
  background-color: #8B8B8B;
  position: relative;
  right: 50px;
  top: 250px;
  z-index: 0;
}
.container .stepTwo__footer .title__stepTwo {
  margin-top: 150px;
  text-align: center;
}
.container .stepTwo__footer .title__stepTwo .stepTwo__title-h1 {
  font-size: 18px;
  color: #3D82F2;
}
.container .stepTwo__footer .title__stepTwo .title_main h1 {
  margin-top: 12px;
  font-size: 50px;
  color: #fff;
}
.container .stepTwo__footer .title__stepTwo .title_main p {
  margin-top: 12px;
  font-size: 20px;
  color: #707070;
  font-weight: 400;
}
.container .stepTwo__footer .icons__stepTwo {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.container .stepTwo__footer .icons__stepTwo .box {
  width: 49%;
  padding: 20px 0px;
  border: 0.5px solid #326CF9;
  background-color: #0D0D0D;
}
.container .stepTwo__footer .icons__stepTwo .box h3 {
  margin: 0px 20px;
  color: #0FC65C;
  font-weight: 400;
  background-color: #0D0D0D;
}
.container .stepTwo__footer .icons__stepTwo .box h1 {
  font-size: 50px;
  margin: 0px 20px;
  color: #919191;
  margin-top: 25px;
  background-color: #0D0D0D;
}
.container .stepTwo__footer .icons__stepTwo .box h1 span {
  margin-top: 15px;
  color: #fff;
  background-color: #0D0D0D;
}
.container .stepTwo__footer .icons__stepTwo .box1 .phone {
  width: 80%;
  height: 200px;
  border: 10px solid #AFAAC1;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 80px;
  margin-top: 10px;
  margin-bottom: -20px;
  margin-left: 112px;
  background-color: #0D0D0D;
}
.container .stepTwo__footer .icons__stepTwo .box1 .phone h1 {
  margin: 50px 50px;
  text-align: center;
  background-color: #0D0D0D;
  color: rebeccapurple;
}
.container .stepTwo__footer .icons__stepTwo .box2 h1 {
  margin-top: 55px;
  font-size: 50px;
  font-weight: 700;
}
.container .stepTwo__footer .stepTwo__btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.container .stepTwo__footer .stepTwo__btn button {
  background-color: #326CF9;
  padding: 15px 60px;
  color: #fff;
  border: none;
  border-radius: 10px;
}
.container .experts {
  margin: 150px -30px;
  text-align: center;
}
.container .experts h1 {
  color: #fff;
  font-size: 50px;
}
.container .experts img {
  margin-top: 50px;
  width: 100%;
  height: 400px;
}/*# sourceMappingURL=style.css.map */